/* app/assets/stylesheets/discover.css */
@use "sass:color";

.discover-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.like-btn:hover {
  background: #2563eb;
  transform: scale(1.05);
  transition: 0.2s;
}
